<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Employee List</title>
</head>
<body>
    <div class="container">
    <h2 class="text-center fw-bold m-2">Employee List</h2>
    <hr>
    <a href="/showNewEmployeeForm" class="btn btn-primary btn-sm mb-3">Add New Employee</a>
    <div class="table table-responsive">
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Actions</th>
            </tr>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.id}"></td>
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.email}"></td>
                <td th:text="${employee.department}"></td>
                <td>
                    <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-sm btn-warning">Update</a>
                    <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
